/*
 * Authored by Kwadwo. Custom CSS for base.html page (non twitter bootstrap css) 
 */
.navbar {
	background-color:#3576BE;
}

.card {
	cursor: pointer;
	cursor: hand;
}

.card:hover{
	
}

.blueBackground{
	background-color:#d9edf7;
}

.darkblueBackground{
	background-color: #7AC5CD;
}

.blackText{
	color:black;
}

.rounded {
	border-radius: 20px; -webkit-border-radius: 20px; -moz-border-radius: 20px;
}

.text-info{
	border:solid 4px #d9edf7;
}

.notice{
	font-size: 25px;
}
