{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>InstantPractice</title>

    <!-- Bootstrap core CSS -->
    <!--<link href="../../dist/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!--<link href="dashboard.css" rel="stylesheet">-->
    <link href="{% static "css/base2.css" %}" rel="stylesheet">
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    <link href="{% static "css/hover.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">




    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/doctorapp/" style="color:white;font-size:25px;">InstantPractice</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/doctorapp/dashboard">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="/doctorapp/logout">Log out</a></li>
          </ul>
          
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li id="side_over_link" class="active"><a href="#">Overview</a></li>
            <li id="side_app_link"><a href="#">Applications</a></li>
            <li id="side_os_link"><a href="#">Operating System</a></li>
            <li id="side_sum_link"><a href="#">Summary</a></li>
          </ul>
        </div>

        <!-- Overview Section -->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="over_sect">
          <div class="row placeholders">
            <div class="col-xs-6 col-sm-6 placeholder">
              <h1 class="page-header">Overview</h1>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <button type="button" class="btn btn-primary btn-lg btn-block next trim">Next</button>
            </div>
          </div>
          <div class="row placeholders">
            <div id="app_link" class="col-xs-6 col-sm-3 placeholder rounded  float-shadow">
              <!--<img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">-->
              <img src="{% static "icons/appchoices.jpg" %}" alt="Generate placeholder" class="img-responsive">
              <h4>Applications</h4>
              <span class="text-muted">Select applications to pre-install.</span>
            </div>
            <div id="os_link" class="col-xs-6 col-sm-3 placeholder rounded  float-shadow">
              <!--<img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">-->
              <!--<img src="{% static "icons/computer_icon/icon_24026.png" %}" alt="Generate placeholder" class="img-responsive">-->
              <img src="{% static "icons/winmac.jpg" %}" alt="Generate placeholder" class="img-responsive">
              <h4>Operating System</h4>
              <span class="text-muted">Pick your workspace operating system.</span>
            </div>
            
            <div id="sum_link" class="col-xs-6 col-sm-3 placeholder rounded  float-shadow">
              <!--<img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">-->
              <img src="{% static "icons/summary.jpg" %}" alt="Generate placeholder" class="img-responsive">

              <h4>Summary</h4>
              <span class="text-muted">See detailed workspace summary.</span>
            </div>
          </div>
          <p id="step_explanation" class="text-info">
            Select your operation system of choice. You can pick from multiple variations of Windows, OS X, and Linux. 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac tincidunt est. Maecenas scelerisque 
            lacinia mauris, ut vulputate lacus ultricies a. Sed varius erat scelerisque tortor cursus, at pharetra odio commodo. Sed lacus nunc, elementum at convallis vitae, tempus blandit libero. Integer arcu lacus, "+
            ultricies vitae urna sit amet, placerat.
          </p>        
        </div>

        <!-- Operating System Section -->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="os_sect" style="display:none">
          <div class="row placeholders">
            <div class="col-xs-6 col-sm-6 placeholder ">
              <h1 class="page-header">Operating System</h1>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <button type="button" class="btn btn-primary btn-lg btn-block previous trim">Previous</button>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <button type="button" class="btn btn-primary btn-lg btn-block next trim">Next</button>
            </div>
          </div>
          <div class="row placeholders">
            <div id="os_1" class="col-xs-6 col-sm-3 placeholder rounded card  float-shadow">
              <img src="{% static "icons/win7.jpg" %}" alt="Generate placeholder" class="img-responsive">
              <h4>Windows 7</h4>
              <span class="text-muted">A true Windows 7 experience</span>
            </div>
            <div id="os_2" class="col-xs-6 col-sm-3 placeholder rounded card float-shadow">
              <img src="{% static "icons/win8.jpg" %}" alt="Generate placeholder" class="img-responsive">
              <h4>Windows 8</h4>
              <span class="text-muted">Microsoft's latest OS, Windows 8</span>
            </div>
            <div id="os_3" class="col-xs-6 col-sm-3 placeholder rounded card float-shadow">
              <img src="{% static "icons/osx.jpg" %}" alt="Generate placeholder" class="img-responsive">
              <h4>OS X Maverick</h4>
              <span class="text-muted">Apple's revolutionary OS X Maverick</span>
            </div>
            <div id="os_4" class="col-xs-6 col-sm-3 placeholder rounded card float-shadow">
              <img src="{% static "icons/ubuntu.png" %}" alt="Generate placeholder" class="img-responsive">
              <h4>Ubuntu</h4>
              <span class="text-muted">A true Ubuntu experience</span>
            </div>
            <input type="hidden" id="os_selection" value="W7">
          </div>
          <p id="os_step_info" class="label-danger notice">
          </p>
          <p id="os_step_explanation" class="text-info">
            Some very very very interestin stuff to say about windows 7. And then the rest is just going randomness. adipiscing elit. Cras ac tincidunt est. Maecenas scelerisque lacinia mauris, ut vulputate lacus ultricies a. Sed varius erat scelerisque tortor cursus, at pharetra odio commodo. Sed lacus nunc, elementum at convallis vitae, tempus blandit libero. Integer arcu lacus, ultricies vitae urna sit amet, placerat.
          </p>        
        </div>

         <!-- Application Section -->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="app_sect" style="display:none">
          <div class="row placeholders">
            <div class="col-xs-6 col-sm-6 placeholder">
              <h1 class="page-header">Applications</h1>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <button type="button" class="btn btn-primary btn-lg btn-block previous trim">Previous</button>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <button type="button" class="btn btn-primary btn-lg btn-block next trim">Next</button>
            </div>
          </div>
          <div class="row placeholders">
            <div id="app_1" class="col-xs-6 col-sm-3 placeholder rounded card float-shadow">
              <img src="{% static "icons/app1.png" %}" alt="Generate placeholder" class="img-responsive">
              <h4><a id="os_link" href="#">Schedule Assistant</a></h4>
              <span class="text-muted">Industry leading scheduling software</span>
            </div>
            <div id="app_2" class="col-xs-6 col-sm-3 placeholder rounded card float-shadow">
              <img src="{% static "icons/app2.jpg" %}" alt="Generate placeholder" class="img-responsive">
              <h4><a id="app_link" href="#">X-Ray Utility</a></h4>
              <span class="text-muted">Industry standard for X-Ray software</span>
            </div>
            <div id="app_3" class="col-xs-6 col-sm-3 placeholder rounded card float-shadow">
              <img src="{% static "icons/app3.jpg" %}" alt="Generate placeholder" class="img-responsive">
              <h4><a id="def_set_link" href="#">Clinix Management</a></h4>
              <span class="text-muted">Industry standard for the office </span>
            </div>
            <div id="app_4" class="col-xs-6 col-sm-3 placeholder rounded card float-shadow">
              <img src="{% static "icons/app4.jpg" %}" alt="Generate placeholder" class="img-responsive">
              <h4><a id="sum_link" href="#">EHR Utility</a></h4>
              <span class="text-muted">Manage patient data</span>
            </div>
          </div>
          <p id="app_step_explanation" class="text-info" >
            Dental Scheduler is the leading software for scheduling appointments adipiscing elit. Cras ac tincidunt est. Maecenas scelerisque lacinia mauris, ut vulputate lacus ultricies a. Sed varius erat scelerisque tortor cursus, at pharetra odio commodo. Sed lacus nunc, elementum at convallis vitae, tempus blandit libero. Integer arcu lacus, ultricies vitae urna sit amet, placerat.
          </p>        
        </div>

        <!-- Summary Section -->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="sum_sect" style="display:none">
          <div class="row placeholders">
            <div class="col-xs-6 col-sm-6 placeholder">
              <h1 class="page-header">Summary</h1>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <button type="button" class="btn btn-primary btn-lg btn-block previous trim">Previous</button>
            </div>
          </div>
          <div class="row placeholders">
            <div id="sum_2" class="col-xs-6 col-sm-3 placeholder rounded card float-shadow">
              <img src="{% static "icons/appchoices.jpg" %}" alt="Generate placeholder" class="img-responsive">
              <h4>Your Applications</h4>
              <span class="text-muted">More details on applications</span>
            </div>
            <div id="sum_1" class="col-xs-6 col-sm-3 placeholder rounded card float-shadow">
              <img src="{% static "icons/winmac.jpg" %}" alt="Generate placeholder" class="img-responsive">
              <h4>Your Operating System</h4>
              <span class="text-muted">More details about your OS choice</span>
            </div>
            <div  class="col-xs-6 col-sm-6 ">
              <div id="progressbar"></div>
            </div>
          </div>
          <p id="sum_step_explanation" class="text-info" style="display:None">
          </p> 
          <div class="col-xs-6 col-sm-6 placeholder">
            <!--<form action="http://10.33.45.4:8080/com.voffice.server/AWSActions" method="POST">
              <input type="hidden" name="todo" value="start">
              Instance Name: 
              <input type="text" name="name" >
              <br>
              <input type="hidden" min="1" name="count" value="1">
              <br>
              <input id="build" class="btn btn-primary btn-lg btn-block disabled trim" type="submit" value="Start Instances">
            </form>-->
            <p>Workstation Name (user comma separated list for multiple workstations):</p>
            <input size=83 type="text" name="name" id="machinenames">
            <br> 
            <br>
            <button type="button" id="build" class="btn btn-primary btn-lg btn-block disabled trim">Create Workstations</button>
          </div>       
        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!--<script src="../../dist/js/bootstrap.min.js"></script>-->
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    <!--<script src="../../assets/js/docs.min.js"></script>-->
    <script src="{% static "js/bootstrap_asset.js" %}"></script>
    <script src="{% static "js/base.js" %}"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>



  </body>
</html>
