{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>InstantPractice</title>

    <!-- Bootstrap core CSS -->
    <!--<link href="../../dist/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!--<link href="dashboard.css" rel="stylesheet">-->
    <link href="{% static "css/base2.css" %}" rel="stylesheet">
    <link href="{% static "css/index.css" %}" rel="stylesheet">
    <link href="{% static "css/hover.css" %}" rel="stylesheet">


    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" style="color:white;font-size:25px;">InstantPractice</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right" style="color:yellow;">
            <li><a href="#">Solutions</a></li>
            <li><a href="#">Benefits</a></li>
            <li><a href="#">Billing</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="/doctorapp/signup">Sign Up</a></li>
            <li><a href="/doctorapp/login">Login</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container-fluid" style="padding:0;">
      <div id="main_pic_1" class="coverphoto" style="background-image:url({% static "images/smile.jpg" %})">
        <div class="pretty_text">
          Spend your time doing what really matters, bring smiles to your patients.
        </div>
      </div>
      <div id="filler_1" class="photofiller">
          <span> 1 Easy Solution</span>
          <span>200,000 Dental Professionals</span>
          <span>2,210,000 Smiling Patients</span>
      </div>
      <div id="main_pic_2" class="coverphoto" style="background-image:url({% static "images/devicedoc.jpg" %})">
        <div class="pretty_text">
          Access patient data and records from any location on any device.
        </div>
      </div>
      <div id="filler_2" class="photofiller">
          <span>Access on your cell phone</span>
          <span>Access on your tablet</span>
          <span>Access on your desktop</span>
      </div>
      <div id="main_pic_3" class="coverphoto" style="background-image:url({% static "images/support.jpeg" %})">
          <div class="pretty_text">
            Get on demand and reliable expert assistance.
          </div>
      </div>
      <div id="filler_3" class="photofiller">
          <span>More Reliable</span>
          <span>24/7 customer assistance</span>
          <span>Auto backup</span>
      </div>
      <div id="footer">
      </div>
    </div>








    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!--<script src="../../dist/js/bootstrap.min.js"></script>-->
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>

    <!--<script src="../../assets/js/docs.min.js"></script>-->
    <script src="{% static "js/bootstrap_asset.js" %}"></script>
  </body>
</html>
